.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
       
    a{
        color: #000;
        text-decoration: none;
    }

    &__logo{
        float: left;
        font-size: 20px;
        line-height: 30px;
        color: #000;
        text-decoration: none;
    }

    &__menu{
        float: right;
        margin: 0;
        list-style: none;
    }

    &__menu-point{
        font-size: 14px;
        line-height: 20px;
        float: left;
        padding: 5px 10px;
        &--active a{
            color: green;
        }
    }
}